[Interface]
Address = 10.13.13.2
PrivateKey = <YOUR_CLIENT_PRIVATE_KEY>

[Peer]
PublicKey = <SERVER_PUBLIC_KEY>
PresharedKey = <PRE_SHARED_KEY>
# Connect to obfs4-client on localhost (which unwraps obfs4 → UDP/51820)
Endpoint = 127.0.0.1:51820
AllowedIPs = 172.30.30.0/24
